<div fxLayout="column" class="fixVertical">
  <mat-toolbar fxLayout>
    <span>F2020</span>
    <!-- This fills the remaining space of the current row -->
    <span fxFlex></span>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Åbn sidemenu" (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container fxFlex fxLayout="column">
    <mat-sidenav #sidenav mode="over" position="end">
      <button mat-button (click)="signOut()"><mat-icon>exit_to_app</mat-icon> Log ud</button>
    </mat-sidenav>0
    <mat-sidenav-content fxFlex>
      <f2020-login fxFlex></f2020-login>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
