<div fxLayout="column" class="fixVertical">
  <mat-toolbar fxLayout>
    <span>F2020</span>
    <!-- This fills the remaining space of the current row -->
    <span fxFlex></span>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Åbn sidemenu" (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container fxFlex fxLayout="column">
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-action-list style="padding: 1rem 1.5rem 0 1.5rem">
        <f2020-sidenav-button icon="fa-trophy" routerLink="standings">Stilling</f2020-sidenav-button>
        <button mat-list-item (click)="signOut()" ><mat-icon fontSet="fa" fontIcon="fa-sign-out-alt"></mat-icon> Log ud</button>
      </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex fxLayout="column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
