<ng-container *ngIf="(race$ | async) as race; else loading">
  <mat-toolbar color="primary">
    <span>Bud - {{race.name}}</span>
  </mat-toolbar>
  <div [formGroup]="fg">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="true" #qualifyPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>Kvalifikation</mat-panel-title>
          <mat-panel-description *ngIf="!qualifyPanel.expanded" fxLayoutAlign="end">
            <f2020-driver-codes [driverIds]="fg.get('qualify').value"></f2020-driver-codes>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <f2020-select-drivers formControlName="qualify" [noOfDrivers]="6" [race]="race"></f2020-select-drivers>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" #fastestDriver>
        <mat-expansion-panel-header >
          <mat-panel-title>Hurtigste pilot</mat-panel-title>
          <mat-panel-description *ngIf="!fastestDriver.expanded" fxLayoutAlign="end">
            <f2020-driver-codes [driverIds]="fg.get('fastestDriver').value"></f2020-driver-codes>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <f2020-select-drivers formControlName="fastestDriver" [noOfDrivers]="1" [race]="race"></f2020-select-drivers>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" #podium>
        <mat-expansion-panel-header>
          <mat-panel-title>Podium</mat-panel-title>
          <mat-panel-description *ngIf="!podium.expanded" fxLayoutAlign="end">
            <f2020-driver-codes [driverIds]="fg.get('podium').value"></f2020-driver-codes>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <f2020-select-drivers formControlName="podium" [noOfDrivers]="3" [race]="race"></f2020-select-drivers>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{race.selectedDriver | driverName }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <f2020-selected-driver formControlName="selectedDriver" [race]="race"></f2020-selected-driver>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" #firstCrash>
        <mat-expansion-panel-header>
          <mat-panel-title>Først udgået</mat-panel-title>
          <mat-panel-description *ngIf="!firstCrash.expanded" fxLayoutAlign="end">
            <f2020-driver-codes [driverIds]="fg.get('firstCrash').value"></f2020-driver-codes>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <f2020-select-drivers formControlName="firstCrash" [noOfDrivers]="1" [race]="race"></f2020-select-drivers>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" #time>
        <mat-expansion-panel-header>
          <mat-panel-title>Pole position tid</mat-panel-title>
          <mat-panel-description *ngIf="!time.expanded" fxLayoutAlign="end">
            {{fg.get('polePositionTime').value | polePositionTime}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <f2020-pole-position-time formControlName="polePositionTime"></f2020-pole-position-time>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-fab aria-label="Indsend bud" [disabled]="fg.invalid" *ngIf="fg.enabled">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</ng-container>  
<ng-template #loading>
  <f2020-loading></f2020-loading>
</ng-template>
