<mat-toolbar color="primary"><img class="avatar" [src]="(player$ | async)?.photoURL" alt="Profil billede">{{(player$ | async)?.displayName}}</mat-toolbar>
<mat-action-list style="padding: 1rem 1.5rem 0 1.5rem">
  <f2020-sidenav-button iconSet="fas" icon="fa-flag-checkered" routerLink="race" (click)="close.emit()">Løb</f2020-sidenav-button>
  <f2020-sidenav-button icon="fa-trophy" routerLink="standings" (click)="close.emit()">Stilling</f2020-sidenav-button>
  <button mat-list-item (click)="signOut()" ><mat-icon fontSet="fa" fontIcon="fa-sign-out-alt"></mat-icon> Log ud</button>
</mat-action-list>
